body {
  /* padding: 10px 20px; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Customize */
nav.navbar {
  color: black;
}

.nav-item > a {
  color: white !important;
}

nav.navbar button {
  border: 2px solid #198754;
}

.navbar-light .navbar-toggler {
  background-color: #AE00FB;
  border-color: #AE00FB;
}

.navbar-collapse {
  justify-content: flex-end;
}

.countries-container {
  width: 100%;
  display: grid;
  /* grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 10px;
}

.countries-container .card {
  background-color: inherit;
  color: black;
}

.countries-container button {
  background-color: #610094;
  border: none;
}

.countries-container .card {
  flex-direction: row;
}

.countryInfo-container {
  text-align: center;
  padding: 0 40px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 1000px) {
  /* .countries-container {
    display: flex;
    flex-direction: row;
  }

  .countries-container .card {
    width: 50%;
  } */
  .countries-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .countries-container {
    display: flex;
    flex-direction: column;
  }

  .countryInfo-container .card {
    flex-direction: column !important;
  }

  .countryInfo-container .w-md-100 {
    width: 100% !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
